html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, sans-serif;
  text-decoration: none;
  min-height: 100%;
  color: #ebebeb;
  background-color: #252525;
}

*, *:before, *:after {
-webkit-box-sizing: inherit;
        box-sizing: inherit;
}

html,
body {
  display: flex;
  position: relative;
  justify-content: center;
}

body {
  max-height: 100vh
}

.container {
  display: grid;
  margin: auto;
  max-width: 960px;
  height: 100vh; /*added*/
  grid-row-gap: 1rem;
  grid-template-columns: auto auto 8% auto auto;
  grid-template-rows: 14vh 5vh auto auto auto 6vh;
  grid-template-areas:
    "header header header header header"
    ". react-col-head . site-col-head ."
    "react-title1 react-screen1 . site-screen1 site-title1"
    "react-title2 react-screen2 . site-screen2 site-title2 "
    ". . . site-screen3 site-title3"
    "footer footer footer footer footer";.
  align-items: center;
}

.page-title {
  font-size: 3rem;
  grid-area: header;
  margin: auto;
  padding-top: 1.5rem;
  text-align: center;
}

.page-title.medium {
  display: none;
}

.page-title,
.col-head {
  font-family: 'Days One', sans-serif;
}

.col-head {
  font-size: 2rem;
  text-align: center;
}

.react.col-head {
  grid-area: react-col-head;
}

.site.col-head {
  grid-area: site-col-head;
}

.title {
  text-align: right;
  padding-right: 10px;
}

.site.title {
  text-align: left;
  padding-left: 10px;
}

.title,
.screenshot {
  max-width: 100%;
  min-width: 0;
  height: auto;
  }

.screenshot {
  position: relative;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.screenshot .description {
  display: none;
}

.screenshot:hover .description{
  display: block;
  width: 30rem;
  background-color: #252525;
  position: absolute;
  right: 3rem;
  top: -1rem;
  border: 2px solid #ebebeb;
  z-index: 2;
  padding: 0.5rem;
  line-height: 1.3;
}

.screenshot:hover .site.description {
  left: 3rem;
}

.description a {
  color: #e5c454;
  text-decoration: underline;
}
/*React project 1*/
.react-1.title {
  grid-area: react-title1
}

.react-1.screenshot {
  grid-area: react-screen1
}
/*React project 2*/
.react-2.title {
  grid-area: react-title2
}

.react-2.screenshot {
  grid-area: react-screen2
}
/*Website 1*/
.website-1.title {
  grid-area: site-title1
}

.website-1.screenshot {
  grid-area: site-screen1
}
/*Website 2*/
.website-2.title {
  grid-area: site-title2
}

.website-2.screenshot {
  grid-area: site-screen2
}
/*Website 3*/
.website-3.title {
  grid-area: site-title3
}

.website-3.screenshot {
  grid-area: site-screen3
}

footer {
  grid-area: footer;
  border-top: 1px solid white;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

/*Media queries*/
/*iPad in landscape*/
@media only screen and (max-width: 1024px) {
  .container {
    grid-template-rows: 19vh 5vh auto auto auto 6vh;
  }
  .screenshot:hover .description {
    width: 22rem;
    left: 0;
    top: 1.5rem;
  }

  .screenshot:hover .site.description {
    left: 0;
  }
}

@media only screen and (max-width: 990px) {
  html,
  body,
  .container {
    min-height: 100%;
  }

  .container {
    max-width: 98%;
    justify-content: center;
    grid-template-columns: auto 5% auto;
    grid-template-rows: auto auto auto 247.75px auto 247.75px auto 247.75px auto;
    grid-template-areas:
      "header header header"
      "react-col-head . site-col-head"
      "react-title1 . site-title1"
      "react-screen1 . site-screen1"
      "react-title2 . site-title2"
      "react-screen2 . site-screen2"
      ". . site-title3"
      ". . site-screen3"
      "footer footer footer";
  }

  .widest {
    display: none;
  }

  .page-title.medium {
    display: block;
    font-size: 2.5rem;
    text-align: center;
    line-height: 1.2;
  }

  .col-head {
    padding-top: 2rem;
  }

  .title,
  .site.title {
    text-align: center;
    padding-top: 1.75rem;
    font-size: 1.5rem;
  }


  footer {
    margin-top: 0.5rem;
    padding: 0.5rem;
  }
}

@media only screen and (max-width:800px) {
  .container {
    max-width: 100%;
    grid-template-columns: minmax(min-content, 33.8rem);
    grid-template-rows: minmax(auto, 20rem);
    grid-template-areas:
      "header"
      "react-col-head"
      "react-title1"
      "react-screen1"
      "react-title2"
      "react-screen2"
      "site-col-head"
      "site-title1"
      "site-screen1"
      "site-title2"
      "site-screen2"
      "site-title3"
      "site-screen3"
      "footer"
  }

  /*.col-head {
    padding-top: 2rem;
  }

  .title,
  .site.title {
    text-align: center;
    padding-top: 1.75rem;
    font-size: 1.5rem;
  }*/

  img {
    width: 100%;
    max-height: 20rem;
  }

  .screenshot:hover .description {
    width: 75%;
    left: 12.5%;
    top: 1.5rem;
    font-size: 1.25rem;
  }

  .screenshot:hover .site.description {
    left: 12.5%;
  }

}
